.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
#main{
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1em grey;
  padding: 15px;
}
body{
  background-color: whitesmoke;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
